.footer{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 72px;
    padding-bottom: 88px;
    background-color:black;
    color: white;
}
.footerHr{
    background-color: #F6F6F8;
    margin: 40px 0;
    border: none;
    height: 1px;
}
.logo{
    font-size: 24px;
    font-weight: 700;
    line-height: 70px;
    flex: 2;
}
.footerFlex{
    display: flex;
}
.flexFirst{
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flexIcon{
    display: flex;
    gap: 10px;
}
.flexList{
    display: flex;
    width: calc(100% / 2);
}
ul{
    font-size: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.list{
    width: calc(100% / 2);  
}
.list > li{
    margin-bottom: 16px;
}
.footerEnd{
    display: flex;
    justify-content: space-between;
}
.info{
    display: flex;
    flex-direction: column;
    
}
.listAbout{
    align-self: flex-end;
    display: flex;
    gap: 40px;
    
}
