h1{
    letter-spacing: -2px;
    font-weight: 700;
    line-height: 70px;
    font-size: 56px;
    margin: 0;
    display: block;
}
h2{
    margin-bottom: 40px;
    letter-spacing: -0.32px;
    font-weight: normal;
    line-height: 20px;
    font-size: 16px;
}
.bgColor{
    background: center / cover no-repeat url(./f1dc3c1262230b2b.png);
    background-image: url(./f1dc3c1262230b2b.png);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;

    display: flex;
    flex-direction: column;
    padding: 400px 40px 400px 40px;
    margin-bottom: 96px;
}